<div class="w-screen h-screen flex flex-col bg-gray-600 items-center">
  <div class="w-full h-1/2"></div>
  <div class="w-1/2 h-1/2 flex flex-wrap justify-center items-center">
    <ng-container *ngFor="let item of keys">
      <div
        class="h-16 w-16 text-2xl rounded text-white border border-white m-2 flex justify-center items-center transition-all duration-150"
        [ngClass]="item.clicked ? 'bg-gray-700' : 'bg-transparent'"
      >
        {{ item.key }}
      </div>
    </ng-container>
  </div>
</div>
